.fundo {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-image: url("./../../../assets/img/drink-3.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 600px 750px;
}
ion-item {
  width: 300px;
}
.logo {
  width: 160px;
  height: 120px;
  margin-top:-200px;
}
.titulo {
  color: #FFF;
}
ion-item {
  --background: rgba(255, 255, 255, 0);
  color: #fff;
  border-bottom: 1px solid #fff;
}
.input {
  border: none;
  border-radius: 20px;
  width: 200px;
}
.link-cadastro {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 31%;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  color: #FFF;
}